# Токен бота от BotFather
BOT_TOKEN=7914542986:AAEI3dVWnv1utpgMYKyd5v08KGrvjNyviOo

# URL-адрес вашего сервера для вебхука
URL=https://your-app-url.vercel.app

# Порт для локального запуска (не используется на Vercel)
PORT=3000

# Секретный код для авторизации в боте
SECRET_CODE=nuras2316

# MongoDB URI для подключения к базе данных
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database-name?retryWrites=true&w=majority 